.main-container-about {
  display: flex;
  max-height: 800px;
}

/* Nav bar */
.Navbar-about {
  width: 70px;
  height: 800px;
  border-right: 1px solid var(--border-grey);
}

.Navbar-about ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.Navbar-about ul li {
  margin-top: 20px;
}

.Navbar-about ul li a {
  font-size: 22px;
  color: var(--LightGrey);
  opacity: 0.8;
  text-decoration: none;
  transition: 0.2s;
}

.Navbar-about ul li a:hover {
  opacity: 0.8;
  color: var(--White);
}

/* menu */

.menu-container-about {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 800px;
  border-right: 1px solid var(--border-grey);
}

.box-personal-info {
  padding: 10px 84px 10px 34px;
  border-bottom: 1px solid var(--border-grey);
}

.box-personal-info a {
  display: flex;
  align-items: center;
  gap: 11px;
  text-decoration: none;
  color: var(--White);
  transition: 0.2s;
}

.personal-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  margin-left: 34px;
}

.Bio {
  display: flex;
  flex-direction: column;
}

.folder-bio {
  margin-bottom: 10px;
}

.folder-bio a {
  text-decoration: none;
  color: var(--LightGrey);
}

.folder-bio a i:first-child {
  margin-right: 11px;
  font-size: 20px;
}

.folder-bio a i:last-child {
  color: var(--LightPink);
  margin-right: 11px;
}

.bio-content {
  margin-left: 31px;
}

.bio-content a {
  text-decoration: none;
  color: var(--LightGrey);
}

.bio-content a i {
  color: var(--LightBlue);
  margin-right: 11px;
}
