.main-container-about {
  display: flex;
  max-height: 800px;
}

/* Nav bar */
.Navbar-about {
  width: 70px;
  height: 800px;
  border-right: 1px solid var(--border-grey);
}

.Navbar-about ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.Navbar-about ul li {
  margin-top: 20px;
}

.Navbar-about ul li a {
  font-size: 22px;
  color: var(--LightGrey);
  opacity: 0.8;
  text-decoration: none;
  transition: 0.2s;
}

.Navbar-about ul li a:hover {
  opacity: 0.8;
  color: var(--White);
}

/* menu */

.menu-container-about {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 800px;
}

.box-personal-info {
  padding: 10px 84px 10px 34px;
  border-right: 1px solid var(--border-grey);
  border-bottom: 1px solid var(--border-grey);
}

.box-personal-info a {
  display: flex;
  align-items: center;
  gap: 11px;
  text-decoration: none;
  color: var(--White);
  transition: 0.2s;
}

.box-personal-info a i {
  font-size: 17px;
}
