.main-container-about {
  display: flex;
  max-height: 800px;
}

/* Nav bar */
.Navbar-about {
  width: 70px;
  height: 800px;
  border-right: 1px solid var(--border-grey);
}

.Navbar-about ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.Navbar-about ul li {
  margin-top: 20px;
}

.Navbar-about ul li a {
  font-size: 22px;
  color: var(--LightGrey);
  opacity: 0.8;
  text-decoration: none;
  transition: 0.2s;
}

.Navbar-about ul li a:hover {
  opacity: 0.8;
  color: var(--White);
}

/* menu */

.menu-container-about {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 800px;
  border-right: 1px solid var(--border-grey);
}

.box-personal-info {
  padding: 10px 84px 10px 34px;
  border-bottom: 1px solid var(--border-grey);
}

.box-personal-info a,
.box-contacts a {
  display: flex;
  align-items: center;
  gap: 11px;
  text-decoration: none;
  color: var(--White);
}

.personal-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
  margin-left: 34px;
}

.Bio,
.Interests,
.Education {
  display: flex;
  flex-direction: column;
}

.folder-bio,
.folder-interests,
.folder-education {
  margin-bottom: 8px;
}

.folder-bio a,
.folder-interests a,
.folder-education a {
  text-decoration: none;
  color: var(--LightGrey);
}

.folder-bio a i:first-child,
.folder-interests a i:first-child,
.folder-education a i:first-child {
  margin-right: 11px;
  font-size: 20px;
}

.folder-bio a i:last-child {
  color: var(--LightPink);
  margin-right: 11px;
}

.bio-content,
.interests-content,
.education-content {
  margin-left: 40px;
}

.bio-content a,
.interests-content a,
.education-content a {
  text-decoration: none;
  color: var(--LightGrey);
}

.bio-content a i,
.interests-content a i {
  color: var(--LightBlue);
  margin-right: 11px;
}

.folder-interests a i:last-child {
  margin-right: 11px;
  color: var(--Gradients-green);
}

.folder-education a i:last-child {
  margin-right: 11px;
  color: var(--Folder-blue);
}

.education-content a i {
  margin-right: 11px;
  color: var(--Cement-gray);
}

.education-content .devquest {
  margin-bottom: 8px;
}

.Education {
  margin-bottom: 20px;
}

.box-contacts {
  padding: 10px 84px 10px 34px;
  border-bottom: 1px solid var(--border-grey);
  border-top: 1px solid var(--border-grey);
}

.contacts-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--LightGrey);
  margin-left: 34px;
  margin-top: 20px;
}

.contacts-content i {
  margin-right: 11px;
}
