#footer-container {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

#footer-container label,
#footer-container a,
#footer-container span {
  padding: 15px 22px;
  border-top: 1px solid var(--border-grey);
  border-right: 1px solid var(--border-grey);
}

#footer-container span {
  flex-grow: 1;
}

#footer-container a:last-child {
  border-right: none;
}

#footer-container a {
  transition: 0.2s;
}

#footer-container a:hover {
  color: var(--secondary-white);
}

#footer-container a > i {
  font-size: 20px;
}
