.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--BlueOxford);
}

.main-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 2;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.title-container p {
  margin-left: 5px;
  font-size: 18px;
  color: var(--Grey);
}

.title-container h1 {
  font-size: 62px;
  font-weight: 400;
  color: var(--Grey);
}

.title-container h2 {
  font-size: 32px;
  font-weight: 400;
  color: var(--CobaltBlue);
}

.description-container {
  line-height: 32px;
}

.description-container p {
  color: var(--LightGrey);
}

.code-link-github {
  display: flex;
  gap: 10px;
}

.code-link-github span:nth-child(1) {
  color: var(--CobaltBlue);
}

.code-link-github span:nth-child(2) {
  color: var(--Green-water);
}

.code-link-github span:nth-child(3) {
  color: var(--White);
}

.code-link-github a {
  text-decoration: none;
  color: var(--LightPink);
}

.code-link-github a:hover {
  text-decoration: underline;
}

.img-container img {
  box-shadow: 60px 150px 200px -60px var(--Gradients-blue),
    200px 30px 200px -80px var(--Gradients-blue),
    -100px -100px 200px -50px var(--Gradients-green);
  border: 1px solid var(--Black);
  border-radius: 50%;
}
