:root {
  /* COLORS */
  --Black: #01080e;
  --BlueOxford: #011627;
  --BlueOxford-dark: #011221;
  --LightGrey: #607b96;
  --LightBlue: #7fbdf7;
  --SeaGreen: #3c9d93;
  --CobaltBlue: #4d5bce;
  --White: #ffffff;
  --Grey: #e5e9f0;
  --Folder-blue: #3a49a4;
  --Orange-ochre: #fea55f;
  --Green-water: #43d9ad;
  --LightPink: #e99287;
  --Purple: #c98bdf;
  --Dark-gray: #1e2d3d;
  --Cement-gray: #5a5a5a;
  --Blue: #5565e8;
  --Black-box: #1e2d3d;

  --Gradients-blue: #4d5bce;
  --Gradients-green: #43d9ad;

  --border-grey: #607b9666;

  /* Font */
  --CodeFont: "Fira Code", Helvetica, Sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--CodeFont);
}
